<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
    <link rel="stylesheet" href="/css/board/boardstyle.css">
</head>

<body>
<div id="fh5co-page" layout:fragment="content">
    <div id="fh5co-main">
        <div id="menu">
            <div class="col-md-3 col-sm-10 col-padding">
                <h1 class="header_link__5ddf2" data-animate-effect="fadeInLeft">QnA</h1>
            </div>
        </div>

        <!-- 문의사항 테이블-->
        <div class="fh5co-narrow-content">
            <h2 class="section-title">문의사항 목록</h2>
            <table class="qna-table">
                <thead>
                    <tr>
                        <th>QnA_ID</th>
                        <th>User_ID</th>
                        <th>문의 제목</th>
                        <th>문의 내용</th>
                        <th>답변 내용</th>
                        <th>답변 날짜</th>
                        <th>등록일</th>
                        <th>수정일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="qna: ${qnas}">
                        <td th:text="${qna.qna_id}"></td>
                        <td th:text="${qna.user_id}"></td>
                        <td th:text="${qna.title}"></td>
                        <td th:text="${qna.content}"></td>
                        <td th:text="${qna.response !=null ? qna.response:'답변 대기 중'}"></td>
                        <td th:text="${qna.response_datetime != null ? #dates.formant(qna.response.datetime, 'yyyy-MM-dd') : '-'}"></td>
                        <td th:text="${#dates.format(qna.created_at, 'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(qna.updated_at, 'yyyy-MM-dd')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 회원용 등록 폼-->
        <div class="qna-form">
            <h3>문의 등록</h3>
            <input type="text" id="qnaTitle" placeholder="문의 제목 입력">
            <textarea id="qnaContent" placeholder="문의 내용 입력"></textarea>
            <button class="registQnaBtn">등록</button>
        </div>

        <!-- 관리자용 수정 폼-->
        <div class="qna-response-form" th:if="${isAdmin}">
            <h3>문의 답변 수정</h3>
            <input type="text" id="responseQnaId" placeholder="QnA ID 입력">
            <textarea id="qnaResponse" placeholder="수정 내용 입력"></textarea>
            <button class="responseQnaBtn">수정</button>
        </div>

        <!-- 관리자용 삭제 폼-->
        <div class="qna-delete-form" th:if="${isAdmin}">
            <h3>문의 삭제</h3>
            <input type="text" id="deleteQnaId" placeholder="QnA ID 입력">
            <button class="deleteQnaBtn">삭제</button>
        </div>
    </div>
</div>


<!-- JavaScript 파일 연결 -->
<th:block layout:fragment="javascript">
    <script th:src="@{/js/board/qna.js}"></script>
</th:block>
</body>
</html>

