<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ticket</title>
    <link rel="stylesheet" href="/css/board/boardstyle.css">
</head>

<body>
<div id="fh5co-page" layout:fragment="content">
    <div id="fh5co-main">
        <div id="menu">
            <div class="col-md-3 col-sm-10 col-padding">
                <h1 class="header_link__5ddf2" data-animate-effect="fadeInLeft">QnA</h1>
            </div>

            <!-- 검색목록 -->
            <menu class="Ticket_GNB_PC header_wrapMenu__02b29">
                <ul class="header_genreMenu__34716">
                    <li><a class="header_link__5ddf2" href="">ID</a></li>
                    <li><a class="header_link__5ddf2" href="">User ID</a></li>
                    <li><a class="header_link__5ddf2" href="">문의 제목</a></li>
                    <li><a class="header_link__5ddf2" href="">답변 내용</a></li>
                    <li><a class="header_link__5ddf2" href="">답변 날짜</a></li>
                    <li><a class="header_link__5ddf2" href="">등록일</a></li>
                    <li><a class="header_link__5ddf2" href="">수정일</a></li>

                </ul>
                <div class="header_menuDivider__01d75"></div>
                <ul class="header_categoryMenu__4fbf3">
                    <li><a class="header_link__5ddf2" href="">공연상태</a></li>
                    <li><a class="header_link__5ddf2" href="">지역</a></li>
                </ul>
                <div class="header_searchWrapper">
                    <input type="text" class="header_searchInput" placeholder="검색어를 입력하세요..." onkeypress="handleSearch(event)">
                </div>
            </menu>
        </div>

        <!-- 공연 목록이 동적으로 삽입될 부분 -->
        <div class="fh5co-narrow-content">
            <div class="row row-bottom-padded-md" id="project-list">
                <!-- 프로젝트 목록이 여기서 동적으로 생성됩니다 -->
            </div>
        </div>




    </div>
</div>

<!-- JavaScript 파일 연결 -->
<th:block layout:fragment="javascript">
    <script th:src="@{/js/board/qna.js}"></script>
</th:block>
</body>
</html>


