<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">

<head>
    <link rel="stylesheet" th:href="@{/css/ticket/ticket.css}">
</head>
<body>
<!-- content layout start -->
<div id="fh5co-main" layout:fragment="content">
    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
        <div class="row">
            <div class="col-md-12">
                <h2>티켓팅 일정</h2>
            </div>
        </div>
        <!-- 관리자만 등록 버튼이 보이도록 조건문 수정 -->
        <div>
            <div>
                <button type="button" th:if="${user != null && user.uid == 'admin'}" class="btn btn-primary btn-sm ticketingRegBtn">등록</button>
            </div>
        </div>
        <!-- 티켓팅 정보 그리드 -->
        <div>
            <div id="ticketinfogrid"></div>
        </div>
    </div>

</div>
<th:block layout:fragment="javascript">
    <script th:src="@{/js/ticket/ticketInfo.js}"></script>
    <script th:inline="javascript"></script>
</th:block>
</body>
</html>
