<!DOCTYPE html>
<html class="no-js" lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/base.html}">
<head>
	<!-- date picker -->
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css}">
	<script th:src="@{https://cdn.jsdelivr.net/npm/flatpickr}"></script>

	<link rel="stylesheet" th:href="@{/css/event/booking.css}">
</head>
<body>
	<div id="fh5co-main" layout:fragment="content">
		<div class="fh5co-more-contact">
			<div class="fh5co-narrow-content">
				<div class="performance-title">
					<h2>&lt;공연명&gt;</h2>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-text p-0">
								<label class="fs-2">날짜 선택</label>
								<div id="datepicker"></div>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-text p-0">
								<label class="fs-2">좌석 선택</label>
								<div class="seat-selection">
									<div id="seat-container"></div>
									<div class="seat-info">
										1인당 최대 2매까지 예매 가능합니다.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="booking-footer">
					<button class="btn btn-primary btn-md payBtn">결제하기</button>
				</div>
			</div>
		</div>
	</div>

	<!-- js import -->
	<th:block layout:fragment="javascript">
		<script th:inline="javascript">
			const loginUser = [[${session.user}]];
			console.log(loginUser);
		</script>
		<script th:src="@{/js/event/booking.js}"></script>
	</th:block>
</body>
</html>

