<!DOCTYPE html>
<html class="no-js" lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/base.html}">
<head>
	<!-- date picker -->
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css}">
	<script th:src="@{https://cdn.jsdelivr.net/npm/flatpickr}"></script>

	<link rel="stylesheet" th:href="@{/css/event/booking.css}">
</head>
<body>
	<div id="fh5co-main" layout:fragment="content">
		<div class="fh5co-more-contact">
			<div class="fh5co-narrow-content">
				<div class="performance-title">
					<h2 class="eventName"></h2>
				</div>
				<div class="row" style="border-top: 1px solid #ccc">
					<div class="col-lg-3 col-sm-12">
						<div class="fh5co-feature fh5co-feature-sm animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-text p-0">
								<label class="fs-2">날짜 선택</label>
								<div id="datepicker"></div>
								<div class="scheduleInfo mt-4"></div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-sm-12">
						<div class="fh5co-feature fh5co-feature-sm animate-box seatSelBox d-none" data-animate-effect="fadeInLeft">
							<div class="fh5co-text p-0">
								<label class="fs-2">좌석 선택</label>
								<div class="seat-selection">
									<div class="section-info"></div>
									<div class="seat-stage">STAGE</div>
									<div id="seat-container"></div>
									<div class="seat-info">
										1인당 최대 2매까지 예매 가능합니다.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-sm-12">
						<div class="fh5co-feature fh5co-feature-sm animate-box dlvSelBox d-none" data-animate-effect="fadeInLeft">
							<div class="fh5co-text p-0">
								<label class="fs-2">티켓 배송 여부</label>
								<div class="mt-3 d-flex justify-content-between">
									<div>
										<label class="fs-4 fw-bold">배송(3000원)&nbsp;</label>
										<input type="checkbox" name="isDelivery" class="form-check-input fs-4" style="transform: scale(1.5)">
									</div>
									<div>
										<label class="fs-4 fw-bold">배송지 불러오기&nbsp;</label>
										<input type="checkbox" name="loadAddress" class="form-check-input fs-4" style="transform: scale(1.5)" disabled>
									</div>
								</div>
								<form class="addressForm">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<input type="text" name="address1" class="form-control" required disabled>
												<div class="col-lg-8" style="padding-left: 0;">
													<input type="text" name="address2" class="form-control" placeholder="상세주소" disabled>
												</div>
												<div class="col-lg-4 p-0">
													<input type="text" name="postcode" class="form-control" required disabled>
												</div>
												<input type="button" name="openPostBtn" value="배송지 입력" class="btn btn-primary btn-md mt-3" disabled>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="booking-footer d-none">
					<button class="btn btn-primary btn-md payBtn">결제하기</button>
				</div>
			</div>
		</div>
	</div>

	<!-- js import -->
	<th:block layout:fragment="javascript">
		<script th:src="@{https://cdn.portone.io/v2/browser-sdk.js}"></script>
		<script th:inline="javascript">
			const loginUser = [[${session.user}]];
			console.log(loginUser);
			const eventId = [[${eventId}]];
		</script>
		<script th:src="@{/js/event/booking.js}"></script>
	</th:block>
</body>
</html>

