<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
  <link rel="stylesheet" href="/css/event/mainstyle.css">
</head>
<body>
<div id="fh5co-main" layout:fragment="content">
    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-between mb-5">
            <h2>공연 상세</h2>
            <button type="button" class="btn btn-primary bookingBtn" th:if="${user} != null">예매하기</button>
          </div>
            <div class="col-md-6">
                <img class="img-responsive poster" alt="Event Poster">
            </div>
            <div class="col-md-6">
                <h2 class="fh5co-heading title" style="font-size: 1.7em; margin-bottom: 3.5em;"></h2>
                <p class="description"></p>
                <p class="genre"></p>
                <p class="date"></p>
                <p class="location"></p>
                <p class="runtime"></p>
                <p class="casting"></p>
            </div>

            <div class="details-container" style="text-align: center; margin-top: 30px;">
                <!-- JavaScript로 동적으로 이미지가 추가됩니다 -->
            </div>
        </div>
    </div>
    <button class="topButton" title="Go to top">Top</button>
</div>

<th:block layout:fragment="javascript">
    <script th:src="@{/js/event/details.js}"></script>
    <script th:inline="javascript">
        const eventId = [[${eventId}]];
    </script>
</th:block>
</body>
</html>

