<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
      layout:decorate="~{layout/base.html}">
<head>
    <link rel="stylesheet" href="/css/event/mainstyle.css">
</head>
<body>
<div id="fh5co-main" layout:fragment="content">
    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
                <h2>공연 목록</h2>
                <button type="button" class="btn btn-primary eventRegisterBtn"  th:if="${user} != null" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">공연 등록</button>
            </div>
        </div>

        <div id="menu">
            <!-- 검색목록 -->
            <menu class="Ticket_GNB_PC header_wrapMenu__02b29">
                <ul class="header_genreMenu__34716" >
                    <!-- JavaScript로 데이터를 동적으로 추가 -->
                </ul>

                <!--  검색창-->
                <div class="header_searchWrapper">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control m-3" name="srhEvent" placeholder="공연명을 입력하여 검색">
                        <button class="btn btn-primary m-3" name="searchButton">검색</button>
                    </div>
                </div>
            </menu>
        </div>

        <div class="row row-bottom-padded-md" id="project-list">
            <!-- 프로젝트 목록이 여기서 동적으로 생성됩니다 -->
        </div>
    </div>
    <button class="topButton" title="Go to top">Top</button>
</div>

<!-- JavaScript 파일 연결 -->
<th:block layout:fragment="javascript">
    <script th:src="@{/js/event/main.js}"></script>
</th:block>
</body>
</html>
