<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ticket</title>
    <link rel="stylesheet" href="/css/event/mainstyle.css">
</head>

<body>
<div id="fh5co-page" layout:fragment="content">
    <div id="fh5co-main">
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <h2>공연 목록</h2>-->
<!--            </div>-->
<!--        </div>-->
        <div id="menu">
            <div class="col-md-3 col-sm-10 col-padding">
                <h2 class="header_link__5ddf2" data-animate-effect="fadeInLeft">공연 목록</h2>
            </div>

            <!-- 검색목록 -->
            <menu class="Ticket_GNB_PC header_wrapMenu__02b29">


                <ul class="header_genreMenu__34716" >
                    <!-- JavaScript로 데이터를 동적으로 추가 -->
                </ul>

                <!--  검색창-->
                <div class="header_searchWrapper">
                    <input type="text" class="header_searchInput" placeholder="검색어를 입력하세요..." onkeypress="handleSearch(event)">
                </div>
            </menu>
        </div>

        <!-- 공연 목록이 동적으로 삽입될 부분 -->
        <div class="fh5co-narrow-content">
            <div class="row row-bottom-padded-md" id="project-list">
                <!-- 프로젝트 목록이 여기서 동적으로 생성됩니다 -->
            </div>
        </div>

        <button class="topButton" title="Go to top">Top</button>


    </div>
</div>

<!-- JavaScript 파일 연결 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<th:block layout:fragment="javascript">
<script th:src="@{/js/event/theater.js}"></script>
</th:block>
</body>
</html>
