<!DOCTYPE html>
<html class="no-js" lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/base.html}">

<body>
<div id="fh5co-main" layout:fragment="content">
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
				<li style="background-image: url(/images/sample1.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
								<div class="slider-text-inner">
									<h1><strong>The Ticket</strong></h1>
									<h2>위대한 공연, 지금 여기에</h2>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li style="background-image: url(/images/sample2.jpg);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
								<div class="slider-text-inner">
									<h1><strong>The Ticket</strong></h1>
									<h2>아름다운 공연, 바로 지금</h2>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li style="background-image: url(/images/sample3.webp);">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
								<div class="slider-text-inner">
									<h1><strong>The Ticket</strong></h1>
									<h2>모든 것을 한 곳에</h2>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</aside>
</div>
</body>
</html>

